body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

#viz-container {
  margin: auto;
  width: 95vw;
  max-width: 600px;
  padding-left: 0px;
  padding-right: 0px;
}

/* MAP */

#map {
  border: 1px solid #444;
  text-align: center;
  margin-left: 1px;
  margin-right: 1px;
}

.point {
  fill: #444;
  fill-opacity: 1;
  stroke: #a81d15;
  stroke: #fff;
  stroke-width: 1.5px;
  stroke-opacity: 1;

  -webkit-transition: fill 200ms ease;
  transition: fill 200ms ease;
}
.point.highlight {
  fill: #a81d15;
  fill-opacity: 1;
  stroke: black;
  stroke-width: 2px;

  -webkit-transition: all 100ms ease;
  transition: all 100ms ease;
}


.marker-icon {
  stroke-width: 2px;
  /*stroke: #a81d15;*/
  stroke: #fff;
  fill: #e6ab02;
  fill-opacity: 1;
}
.shadow {
  stroke: none;
  fill: #333;
  fill-opacity: 0.5;
}
/*.map-marker.highlight {
  transform: scale(0.4);
  pointer-events: none;
}
.map-marker.highlight .marker-icon {
  stroke: none;
}*/

.marker-icon-on-top {
  fill: #e6ab02;
  fill-opacity: 1;
  transform: scale(0.4);
}


/* INFOBOX */

.infobox {
  border: none;
  margin-top: 5px;
  background-color: #fff;
  text-align: center;
  height: 250px;
  /*overflow: scroll;*/
}
.teasebox {
  border: solid 1px #444;
  cursor: pointer;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
  /*border-bottom: 1px solid #ddd;*/
}
.teasebox:hover {
  background-color: #eee;
}
.teasebox a {
  text-decoration: none;
  color: #111;
}

.infobox .dateline {
  text-transform: uppercase;
}

.infobox .headline {
  font-size: 1.5em;
  line-height: 1.2em;
  font-weight: bold;
  font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
  color: #a81d15;
  margin-bottom: 5px;

}

.infobox .subheadline {
  font-size: 1.0em;
  line-height: 1em;
  font-style: italic;
  margin-bottom: 10px;

}
.infobox .default {
  font-size: 1em;
  /*line-height: 1.2em;*/
  font-style: italic;
}

.infobox .byline {
  font-weight: none;
  color: #666;
}