body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

#viz-container {
  margin: auto;
  width: 100vw;
  max-width: 600px;
  padding-left: 0px;
  padding-right: 0px;
}
#map {
  border: 1px solid #444;
  text-align: center;
}

/*.city {
  opacity: 0.9;
  fill: #2b8cbe;
  stroke: #2b8cbe;
  fill-opacity: 0.4;
  stroke-width:  2;
  stroke-opacity:;

  -webkit-backface-visibility: hidden;
  transition: all 300ms ease
}*/

.cluster {
   -webkit-transition: transform 300ms ease;
  transition: transform 300ms ease;
}

.cluster.highlight {
  -webkit-transform: scale(2);
  -ms-transform: scale(2);
  transform: scale(2);

  -webkit-transition: transform 300ms ease;
  transition: transform 300ms ease;
}

.cluster.highlight .point {

}

.cluster.highlight .cluster-marker,
.cluster.highlight .cluster-shadow {
  -webkit-transform: scale(0.6);
  -ms-transform: scale(0.6);
  transform: scale(0.6);

  -webkit-transition: transform 300ms ease;
  transition: transform 300ms ease;
}

.point {
  fill: #a81d15;
  fill-opacity: 0.5;
  stroke: #a81d15;
  stroke-width: 1.5px;
  stroke-opacity: 1;

  -webkit-transition: fill 200ms ease;
  transition: fill 200ms ease;
}

.point.highlight {
  fill: #e6ab02;
  stroke: black;
  stroke-width: 2px;

  -webkit-transition: fill 200ms ease;
  transition: fill 200ms ease;
}






.city.highlight {
  /*fill-opacity: 0.8;*/
}

.cluster-marker {
  stroke-width: 2px;
  /*stroke: #a81d15;*/
  stroke: #fff;
  fill: #7a1c17;
  fill-opacity: 1;
}
.cluster-shadow {
  stroke: none;
  fill: #333;
  fill-opacity: 0.5;
}

.infobox {
  /*border: solid 1px #444*/;
  border: none;
  margin-top: 5px;
  background-color: #fff;
  text-align: center;
  height: 250px;
  /*overflow: scroll;*/
}
.teasebox {
  border: solid 1px #444;
  cursor: pointer;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
  /*border-bottom: 1px solid #ddd;*/
}
.teasebox:hover {
  background-color: #eee;
}
.teasebox a {
  text-decoration: none;
  color: #111;
}

.infobox .dateline {
  text-transform: uppercase;
}

.infobox .headline {
  font-size: 1.5em;
  line-height: 1.2em;
  font-weight: bold;
  font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
  color: #a81d15;
  margin-bottom: 5px;

}

.infobox .subheadline {
  font-size: 1.0em;
  line-height: 1em;
  font-style: italic;
  margin-bottom: 10px;

}
.infobox .default {
  font-size: 1em;
  /*line-height: 1.2em;*/
  font-style: italic;
}

.infobox .byline {
  font-weight: none;
  color: #666;
}